services:
  postgres-db:
    image: postgres:16
    container_name: vaultlocker-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vaultlockerdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: vaultlocker-backend
    restart: always
    depends_on:
      postgres-db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      # Fallback en caso de que falte PORT en .env
      - PORT=${PORT:-3000}
    ports:
      - '${PORT:-3000}:3000'
      - '5555:5555'
    volumes:
      - .:/app
    command: npm run start:dev
    working_dir: /app

volumes:
  postgres_data:
