@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #0f172a !important;
  color: white !important;
  width: 320px !important;
  height: auto;
  font-family: ui-sans-serif, system-ui;
}

#root {
  width: 100% !important;
}
